.header{
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  min-width: 30rem;
  padding: 1rem;

  @media (max-width:36rem ){
    display:flex;
    flex-direction: column;
    text-align: center;
  }
}

.link{
  text-decoration: none;
  color: white;
  
  &:visited{
    color: white;
  }
}

.shoppingCart{
  margin-left:auto;

  @media (max-width:36rem ){
    margin-top: .5rem;
    margin-left: 0;
    text-align: center;
  }
}


