.header{
  display: flex;
  background-color: black;
  color: white;
  min-width: 10rem;
  padding: 1rem;
  align-items: center;
}

.link{
  text-decoration: none;
  color: white;
  
  &:visited{
    color: white;
  }
}